*{
    box-sizing: border-box;
    /* margin: 0; */
}

body{
    margin: 0px;
}

/* .parent{
    background-color: crimson;
} */
.one{
    background-color: aquamarine;
    color: orangered;
    width: 300px;
    padding: 25px;
    /* border: 10px solid; */
    /* Color of border = color of font */
    border: 10px solid teal;
    /* box-sizing: border-box; Thats why we use this in Universal selector(*) so that it can automaticaly adjust padding margin & border to element height & width */
    margin: 40px;
}
.two{
    background-color: lightsalmon;
    color: darkorchid;
    width: 300px;
    padding: 25px;
    border: 10px solid;
    margin: 40px;
}