body{
    font-family: 'Times New Roman', Times, serif;

    background: url("purple_lights.jpg") no-repeat fixed center;
}

.head{
    font-size: 50px;
    text-align: center;
    background-image: url("rainbow.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.head2{
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px green, 0 0 7px yellowgreen, 0 0 25px lawngreen;
    color: azure;
}
div{
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 25px;
}
#box1{
    background-color: blueviolet;
    top: 100px;
    right: 50px;
}
#box2{
    background-color: orangered;
    top: 150px;
    right: 100px;
}
#box3{
    background-color: lawngreen;
    top: 200px;
    right: 150px;
}
#box4{
    background-color: plum;
    top: 250px;
    right: 200px;
}
#box1:hover{
    z-index: 1;
}
#box2:hover{
    z-index: 2;
}
#box3:hover{
    z-index: 3;
}
#box4:hover{
    z-index: -1;
}

.pre1{
    font-size: 18px;
    width: 78%;
    white-space: normal;
}
