body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("light_background.jpg") no-repeat fixed center;
}
.con{
    font-size: 17px;
}
.first{
    font-size: 17px;
    border: 3px solid magenta;
    border-radius: 7px;
    width: 60%;
    /* height: 200px; */
    /* min-height: 200px;  */
    /* esme content ki height apne aap hi badhti rahegi*/
    
    max-height: 300px;
    /* esme content ki ko ek max boundation mil jayega jiske baad content overflow ho jat=yega
    */
}